*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Montserrat;
  font-weight: bold;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: darkblue;
}

body.correct {
  background-color: darkgreen;
}

body.wrong {
  background-color: darkred;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  background-color: rgb(52, 52, 255);
  border-color: darkblue;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  cursor: pointer;
  border-color: black;
}

.btn.correct {
  background-color: green;
}

.btn.wrong {
  background-color: red;
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
